/* ++++++++++++++++++++++++++++ Temporary +++++++++++++++++++++++++++++++++++ *
div
{
    outline: 1px solid black;
}
/* ++++++++++++++++++++++++++++ General/Body +++++++++++++++++++++++++++++++++++ */
body
{
    background-color: #e0e0e0;
    font-family: Noto Sans,Arial,sans-serif;
    margin:0px;
}
/* ++++++++++++++++++++++++++++ Header +++++++++++++++++++++++++++++++++++ */
    .header
    {
        background-color: white;
    }
        .header > div,
        .button_style
        {
            display: inline-block;
            vertical-align: middle;
        }
        .logo
        {
            margin-left: 1%;
            margin-right: 20%;
            background-image: url("../images/reddit-logo.png");
            background-size: 100px;
            background-color: red;
            width: 100px;
            height: 50px;
        }
        .input
        {
            width: 40%;
        }
            .input div
            {
                padding-left: 60px;
                background-image: url("../images/loupe.png");
                background-size: 25px;
                background-repeat: no-repeat;
                background-position:2% 40%;
                border: 2px solid black;
                border-radius: 5px;
            }
            .input div:hover
            {
                border-color: dodgerblue;
            }
                .input_field
                {
                    display: block;
                    width: 100%;
                    height: 30px;
                    border: none;
                    background: none;
                }
        .login_buttons
        {
            margin-left: 200px;
        }
            .button_style
            {
                font-size: 23px;
                width: 100px;
                text-align: center;
                margin: 2px;
            }
            .button_style a
            {
                opacity: 55%;
                border-radius: 15px;
            }
            .button_style a:hover
            {
                opacity: 100%;
            }
            .button_style1 a
            {
                color: #0079d3;
                outline: #0079d3;
                border: 2px solid #0079d3;
            }
            .button_style2 a
            {
                color: white;
                background-color: #5e9dc5;
                outline: #0079d3;
                border: 2px solid #0079d3;
            }
            .button_style2 a:hover
            {
                background-color: #0079d3;
            }

        .user_image
        {
            margin-left: 26px;
            background-image: url("../images/user icon.png");
            background-size: 40px;
            background-color: red;
            width: 40px;
            height: 30px;
        }
        .user_image:hover
        {
            border: 1px solid #0079d3;
            border-radius: 10px;
        }
/* ++++++++++++++++++++++++++++ Main +++++++++++++++++++++++++++++++++++ */
.main
{
    max-width: 80%;
    margin: 0 auto;
}
/* ++++++++++++++++++++++++++++ Trending boxes +++++++++++++++++++++++++++++++++++ */
    .title1
    {
        font-size: 18;
        color: #1e1b1b;
        font-weight: 600;
        font-family: "Comic Sans MS";
        line-height: 42px;
    }
    .trending_boxes
    {
        font-size: 0;
    }
    .big,
    .medium
    {
        margin-top: 5px;
        text-decoration: none;
        color: white;
        font-family: "Comic Sans MS";
        font-size: 25px;
        display: block;
    }
    .medium
    {
        margin-top: 25px;
        font-size: 15px;
    }
        .trending_boxes > div
        {
            display: inline-block;
            border-radius: 10px;
            vertical-align: middle;
            width: 25%;
            padding: 0px;
            outline: none;
        }
            .trending_box
            {
                background-size: cover;
                background-repeat: no-repeat;
                outline: 2px solid red;
                width: 250px;
                height: 180px;
                margin: 0 auto;
                font-size: 15px;
                color: white;
            }
            .box1
            {
                background-image: url("../images/trump.jpg");
            }
    .main_main
    {
        font-size: 0;
        width: 55%;
        height: 150px;
    }

    .popular_menu
    {
        width: 100%;
        background-color: #f3f3f3;
        height: 70px;
    }
    .popular_element
    {
        display: inline-block;
        width: 100px;
    }
    .popular_element:hover
    {
        outline: 2px solid #5e9dc5;
    }
    .popular_element:nth-child(-n+5)
    {
        margin-right: 20px;
    }
    .popular_element:last-child
    {
        margin-left: 145px;
    }

    .popular_element img
    {
        width:100px;
        height: 70px;
    }

/* ++++++++++++++++++++++++++++ Top Communities +++++++++++++++++++++++++++++++++++ */
        .main_side
        {
            display: inline-block;
        }

        .top_communities
        {
            width: 200px;
            background-color: gray;
            text-align: center;
        }
            .header_top_com
            {
                background-image: url("../images/banner-background.png");
                background-repeat: repeat;
                height: 80px;
            }
                .header_top_com_text
                {
                    display: inline-block;
                    margin-top: 60px;
                }
                    .a_text_top_com
                    {
                        text-decoration: none;
                        color: #363232;
                    }
            .img_top,
            .img_top_icon
            {
                display: inline-block;
                width: 10px;
                height: 10px;
                background-image: url("../images/up-arrow.png");
                background-size: 10px;
            }
            .img_top_icon
            {
                display: inline-block;
                width: 16px;
                height: 16px;
                background-image: url("../images/league.png");
                background-size: 16px;
            }
            .view_all
            {
                margin-top: 5px;
                display: inline-block;
                width: 160px;
                height: 23px;
                text-align: center;
                border-radius: 40px;
                background-color: #0079d3;
                color: white;
            }
            .main_top_com_elements
            {
                margin: 5px;
                border-bottom: 1px solid #afacac;
            }
            .button a
            {
                text-decoration: none;
                margin-top: 5px;
                display: inline-block;
                text-align: center;
                border-radius: 40px;
                background-color: #9d9797;
                color: white;
            }
            .button
            {
                display: inline-block;
            }